<h3>Post details:</h3>

<p>
	<br />
	<%= @row['content'] %>
	<br />
	<br />
	<b>Addet at <%= @row['created_date'] %></b> 
	<br />
</p>
	<hr />
<h3>Coments:</h3>

<p>
<form action="/details/<%= @row['id'] %>" method="POST" >
	<textarea name="content_" class="form-control" rows="6" placeholder="Type comment text here" ></textarea>
	<br />
   	<button type="submit" class="btn btn-primary"><b>Add comment</b></button>
</form>
</p>