<h2>Latest Posts:</h2>

<br />
<% @results.each do |post| %>
	<p>
		<%= post['content'] %>
		<br />
		<br />
		<b>Addet at <%= post['created_date'] %></b> 
		<br />
		<br />
		<a href="/posts/<%= post['id'] %>">Coments</a>
	</p>
	<hr />
<% end %>
